<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
</head>
<body>
	<center>
		<h1>Welocme to Home page</h1>
		<br>
		<br>
		<br>
		<br>
		
		<form action="{%url 'intro:addUser' %}" method="POST">
			{% csrf_token %}
			<label>Add User : </label>
			<input type="text" name="add_user" placeholder="Enter Username of GitHub User to add to database" style="width:275px;">
			<input type="Submit" name="" value="ADD">
		</form>

		<br>
		<br>

		<form action="{%url 'intro:searchUser' %}" method="POST">
			{% csrf_token %}
			<label>Search User : </label>
			<input id="search_text" type="text" name="search" placeholder="Enter API Params to Search for User" style="width:275px; text-align:center;">
			<input type="Submit" value="Search" style="margin-right: 20px;"/>
			<br>
			Example:email, blog, company, location, bio
		</form>
	</center>

	<a href="{%url 'intro:index' %}"><input type="button" name="" value="Refreash"></a>
	<a href="{%url 'intro:adminReport' %}"><input type="button" name="" value="Admin Report"></a>

	{% if srch %} {% for s in srch %}
	<table border="0" style="border-collapse: collapse; width: 25%;">
		<tbody>
			<tr>
				<td style="width: 50%; text-align: center;"><h4>{{ s.login }}</h4></td>
			</tr>
		</tbody>
	</table>
	{% endfor %} {% endif %}

</body>
</html>